li {
  list-style: none;
}

.pricefeatures{
  max-width: 100%;
  margin-left: auto; 
  margin-right: auto;
  display: inline-block;
}

.Col/*1of3*/{
  border: 1px solid grey;
  max-width: 100%;
  margin-left: auto; 
  margin-right: auto;
  display: inline-block;
  box-sizing: boarder-box;
}
.Col2of3{
  border: 1px solid grey;max-width: 100%;
  margin-left: auto; 
  margin-right: auto;
  display: inline-block;
  box-sizing: boarder-box;

}
.Col3of3{
  border: 1px solid grey;
  max-width: 100%;
  margin-left: auto; 
  margin-right: auto;
  display: inline-block;
  box-sizing: boarder-box;

}

.main-navigation{

}

.bpic{ 
  background-image: 
}

.personal{

}

.plist {

}

.smallbiz{

}

.sblist{

}

.bigbiz{

}

.bblist{

}

footer{

}