.container {
  max-width: 1050px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  line-height: 40px;
  margin-right: 50px;
}

nav ul li a {
  text-decoration: none;
  color: gray;
}

nav ul li a:hover {
  color: black;
}

.banner{
  background: url(https://github.com/tiy-atl-js-sept-2015/Assignments/blob/master/Assignment-04*/Normal-Mode/assets/background.jpg?raw=true);
  margin: 0;
  color: white;
  font-size: 36px;
  text-align: center;
  padding: 150px 0;
}

.choose-account {
  padding: 50px 78px;
}

.account-type {
  text-align: center;
  width: 250px;
  border: 2px #ccc;
  display: inline-block;
  margin: 20px;
  border:1px solid black;
}

.account-type .duration {
  color: #ccc;
}

.price { 
  text-transform: uppercase;
  padding: 25px;
  color: white;
}

.personal .price {
  background: green
}

.small-biz .price {
  background: #213874
}

.enterprise .price {
  background: black;
}

.price .amount {
  font-size: 3em;
}

.account-type ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: .9em;

}

.account-type ul li {
  padding: 7px;
  text-align: center;
  background: #eee;
  border-bottom: 1px solid #ccc;
}

.choose {
  padding: 10px;
}

.choose button {
  background: white;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-weight: bold;
  padding: 8px;
}

.row {
  display: inline-block;
  position: relative;
  margin:10px 50px 40px 50px;
}

.box {
  display: inline-block;
  width: 300px;
  height: 250px;
  margin:0 100px 0 100px;

.normalize {
  text-align: left;
  width: 300px;
  padding: 0;
  position: relative;
}

.text-title {
  font-size: 20px;
}

footer {
  background-color: black;
  text-align: center;
  color: gray;
  padding: 20px;
}

.bottom {
  color: white;
}


